/* Variables */

$transition: all 1s;

$color-main: #17daa3;
$color-light: #fff;
$color-gray: #dfe6e9;

$font-main: 'Raleway', sans-serif;

/* Global */

*, *::after, *::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.7;
	font-family: $font-main;
}

h2, h3, p {
	text-align: center;
}

section {
	padding: 80px 0 80px;
}

button {
	border: 2px solid $color-light;
	border-radius: 15px;
	width: 183px;
	height: 47px;
	color: $color-light;
	font-family: $font-main;
	font-weight: 700;
	&:hover {
		cursor: pointer;
	}
}

.container {
	position: relative;
	max-width: 1469px;
  margin: 0 auto;
}

.section-title {
	position: relative;
	margin: 0;
	font-size: 60px;
	font-weight: 100;
	&::after {
		position: absolute;
    content: '';
    bottom: -18px;
    left: 50%;
    width: 50px;
    height: 3px;
    transform: translateX(-50%);
    background: $color-main;
	}
}

.section-subtitle {
	margin-top: 50px;
}

/* Splash */

.splash {
	position: relative;
	background-image: url('/images/header.png');
	background-position: center center;
  background-size: cover;
  height: 100vh;
}

.splash-inner {
	position: absolute;
	color: $color-light;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.splash-title {
	font-weight: 400;
	font-size: 60px;
	span {
		font-weight: 700;
		}
}

.splash-inner {
	font-size: 22px;
	button {
	margin-top: 65px;
	color: $color-light;
	background-color: transparent;
	}
}

/* Navigation */

.navigation {
	padding-top: 40px;
}

.navbar-nav {
	list-style-type: none;
	color: $color-light;
  a {
		text-decoration: none;
		color: $color-light;
		padding-left: 30px;
		font-size: 14px;
	}
	li {
		float: left;
	}
	i {
		padding-left: 30px;
	}
}

.left img {
	vertical-align: middle;
}

.right {
	display: inline-flex;
  justify-content: flex-end;
}

/* About us */

.btn-2, {
	position: absolute;
	text-align: center;
	top: 130%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding-bottom: 100px;
	button {
		background-color: $color-main;
	}
}

.icon {
	position: relative;
	margin: 80px auto 25px;
	height: 150px;
	width: 150px;
	border: 3px solid $color-light;
	border-radius: 50%;
	background-color: $color-gray;
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: gray;
		font-size: 50px;
	}
}

/* Text-right */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.text-right {
	background-color: $color-gray;
	margin-top: 180px;
}

.right-body {
	width: 50%;
	font-family: $font-main;
	float: right;
	h2 {
		margin: 0;
		text-align: left;
		font-size: 60px;
		font-weight: 100;
	}
	p {
		text-align: left;
	}
	button {
		background-color: $color-main;
		border: none;
		margin-top: 50px;
	}
}

/* Text-left */

.left-body {
	width: 50%;
	font-family: $font-main;
	float: left;
	h2 {
		margin: 0;
		text-align: left;
		font-size: 60px;
		font-weight: 100;
	}
	p {
		text-align: left;
	}
	button {
		background-color: $color-main;
		border: none;
		margin-top: 50px;
	}
}



